# *.pyc        # Matches: file.pyc
#              # Doesn't match: subfolder/file.pyc

# */*.pyc      # Matches: subfolder/file.pyc
#              # Doesn't match: deep/nested/file.pyc

# **/*.pyc     # Matches ALL .pyc files anywhere in the project

# Ignore all .log files
**/*.log

# Ignore all .tmp files
**/*.tmp

# Ignore all .cache files
**/*.cache

# Ignore all .DS_Store files (for Mac users)
.DS_Store

# Ignore all files in any directory named 'build'
build/

# Ignore all files in any directory named 'dist'
dist/

# Ignore all files in any directory named '.venv'
.venv/

# Ignore node_modules directory
node_modules/

# Ignore all .env files
**/.env*

# Ignore all .pyc files
# matches all
**/*.pyc

# Ignore all .class files
**/*.class

# Ignore all .swp files (Vim swap files)
**/*.swp

# Ignore all .vscode directories
.vscode/

**/*.csv

**/*.xlsx 

**/*.pdf